body {
  font: 1em trebuchet ms, verdana, humanist san-serif;
  margin: 0 auto;
  padding: 1em;
  padding-bottom: 5em;
  max-width: 50em; 
}

.header, .tenure {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  flex-wrap: wrap;
}

.tenure {
  flex-wrap: nowrap;
}

h1, h2, h3 {
  margin: 0;
}

h1 {
  font-size: 2.5em;
}

.initial {
  font-size: 2.5em;  
}

.employer {
  margin: 1.5em 0;
}

.header .name, .employer .name {
  color: #037587;
}

section h2 {
  text-align: right;
  text-transform: uppercase;
  margin-top: 1em;
}

p, ul {
  margin: .5em 0;
}

.title {
  font-weight: bold;
}
